.code_review-form, .result {
    float: left;
    display: table;
}

.result {
    width: 357px;
    padding: 10px;
    border: 3px solid #fafd4f;
    border-radius: 10px;
    margin-left: 10px;
}
.code_review-form {
    border: 3px solid #fafd4f;
    border-radius: 10px;
    padding: 10px;
    width: 550px;
}

textarea {
    border: none;
    background-color: rgb(192, 238, 192);
    resize: none;
    width: 100%;
}

#description {
    height: 100px;
}

#code {
    height: 200px;
}

#submit {
    border-radius: 100px;
    background-color: #adc3ff;
    color: rgb(2, 110, 17);
    font-size: 20px;
    font-weight: 600;
}

#submit:hover {
    background-color: #5b79ca;
}