{% extends "base.html" %}
{% block head %}
    <title>코드 리뷰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='code_review.css') }}">
{% endblock %}
{% block body %}
    <form
        class="code_review-form"
        method="POST"
        action="{{ url_for('code_review') }}">
        {{ form.csrf_token }}
        <!-- 코드에 대한 설명 부분 -->
        <p class="input code-description">
            {{ form.description.label }}<br>
            {{ form.description() }}
        </p>
        <!-- 코드 입력받는 부분 -->
        <p class="input code">
            {{ form.code.label }}<br>
            {{ form.code() }}
        </p>
        <p class="btn submit">
            {{ form.submit() }}
        </p>
    </form>
    <div class="result">
        <div class="card">
            {% if do_print== True %}
                <p class="target-html-content">{{ result.description }}</p>
                <p class="my-code">{{ result.code }}</p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </div>
{% endblock %}